---
common:
  daemonize: true
  pid_file: /var/run/crowdsec/crowdsec.pid
  log_media: file
  log_level: info
  log_dir: /var/log/crowdsec/
  working_dir: /var/lib/crowdsec/data/
  log_max_size: 500
  log_max_files: 3
  compress_logs: true

config_paths:
  config_dir: /etc/crowdsec/
  data_dir: /var/lib/crowdsec/data/
  simulation_path: /etc/crowdsec/simulation.yaml
  hub_dir: /etc/crowdsec/hub/
  index_path: /etc/crowdsec/hub/.index.json
  notification_dir: /etc/crowdsec/notifications/
  plugin_dir: /usr/lib/crowdsec/plugins/

crowdsec_service:
  acquisition_path: /etc/crowdsec/acquis.yaml
  acquisition_dir: /etc/crowdsec/acquis.d/
  parser_routines: 1

cscli:
  output: human
  hub_branch: master
  prometheus_uri: http://127.0.0.1:{{ crowdsec_metrics_port }}

db_config:
  log_level: warn
  type: postgresql
  user: {{ postgresql_crowdsec_user }}
  password: {{ postgresql_crowdsec_password }}
  db_name: {{ postgresql_crowdsec_db }}
  host: {{ vip_address }}
  port: {{ postgresql_port }}
  sslmode: disable
  max_open_conns: 10
  flush_ca: 24h

api:
  client:
    insecure_skip_verify: false
    credentials_path: /etc/crowdsec/local_api_credentials.yaml
  server:
    log_level: info
    listen_uri: 0.0.0.0:{{ crowdsec_api_port }}
    profiles_path: /etc/crowdsec/profiles.yaml
    console_path: /etc/crowdsec/console.yaml
    use_forwarded_for_headers: true
    trusted_proxies:
      - 127.0.0.1
      - 10.10.100.0/24

prometheus:
  enabled: true
  level: full
  listen_addr: 127.0.0.1
  listen_port: {{ crowdsec_metrics_port }}
